@page "/Bug/BugDescriptionPage/{Id:int}"
@using BugTrackingProject.Models
@using BugTrackingProject.Data
@inject HttpClient Http
@inject IBugService bugService
@inject ApplicationDbContext _context
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="add-bug-form">
    <div class="form-group">
        <table class="table">
            <tbody>
                <tr>
                    <td>Bug Title</td>
                    <td>@bug.BugHeading</td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td>@bug.ProductName</td>
                </tr>
                <tr>
                    <td>Component</td>
                    <td>@bug.Component</td>
                </tr>
                <tr>
                    <td>User resolving the bug</td>
                    <td>@bug.LoginName</td>
                </tr>
                <tr>
                    <td>First Status</td>
                    <td>@bug.Status</td>
                </tr>
                <tr>
                    <td>Secondary Status</td>
                    <td>@bug.SecondaryStatus</td>
                </tr>
                                <tr>
                    <td>Full Bug Description</td>
                    <td>@bug.BugDesciption</td>
                </tr>
                <tr>
                    <td>Importance</td>
                    <td>@bug.Importance</td>
                </tr>
                <tr>
                    <td>Last Updated</td>
                    <td>@bug.LastUpdated</td>
                </tr>
                                <tr>
                    <td>Estimated Time Taken</td>
                    <td>@bug.EstimateTimeTaken</td>
                </tr>
                                <tr>
                    <td>Total Estimated Time Taken</td>
                    <td>@bug.TotalEstimatedTimeTaken</td>
                </tr>
                                <tr>
                    <td>Actual Time Taken</td>
                    <td>@bug.ActualTimeTaken</td>
                </tr>
                <tr>
                    <td>Total Time Taken</td>
                    <td>@bug.TotalTimeTaken</td>
                </tr>
                <tr>
                                    <td>
                        <a href='Bug/EditBug/@bug.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        </td>
                    <td>
                        <a href='/Bug/DeleteBug/@bug.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
        </table>
    </div>

</div>

@code {
    [Parameter]
    public int id { get; set; }

    public Bug bug = new Bug();  


    protected override async Task OnInitializedAsync()
    {
        bug = await Task.Run(() => bugService.GetBugData(id));
    }

}
